<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Analytics
        <small>Version Beta</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row" ng-repeat="h in d.hosts">
        <div class="col-xs-12">
            <!-- interactive chart -->
            <div class="box box-teal">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">{{h.name}}</h3>
                </div>
                <div class="box-body">
                    <div class="overlay" ng-show='!hostUtil.hasOwnProperty(h.address)'>
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <canvas id="line" height="30px" class="chart chart-line" data="hostUtil[h.address]" labels="labels" legend="false" series="series" options="lineChartOption" colours="colours">
                    </canvas>
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
