<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mails
        <small>Version Beta</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- interactive chart -->
            <div class="box box-teal">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">SMTP received total count</h3>
                </div>
                <div class="box-body">
                    <canvas id="line" height="30px" class="chart chart-line" data="smtp_received_total_data" labels="labels" legend="false" series="smtp_received_total_series" options="lineChartOption">
                    </canvas>
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
