<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Host
        <small>Version Beta</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row" ng-repeat="h in hosts">
        <!-- fix for small devices only -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><b>{{h.name}}</b> ({{h.address}})</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="overlay" ng-show='!hostUtil.cpu.hasOwnProperty(h.address)'>
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="box-body" style="padding-left:60px;">
                <div class="row" style="padding-bottom: 30px;">
                    <!-- <div class="info-box-content"> -->
                    <div class="row">
                        <span class="col-md-3 info-box-number icon center"> Status
                        </span>
                        <span class="col-md-3 info-box-number center">CPU: {{hostUtil.cpu[h.address][0]}}%
                        </span>
                        <span class="col-md-3 info-box-number center">Memory: {{hostUtil.mem[h.address][0]}}%
                        </span>
                        <span class="col-md-3 info-box-number center">Volume: {{hostUtil.volume[h.address][0]}}%
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-3 center">
                            <div class="status-image center">
                                <i class="ion center" ng-class="h.classIcon"></i>
                            </div>
                        </div>
                        <div class="col-md-3 info-box-number">
                            <canvas id="doughnut" class="col-md-3 chart chart-doughnut" data="hostUtil.cpu[h.address]" labels="cpuLabel" options="utilCharOption"></canvas>
                        </div>
                        <div class="col-md-3 info-box-number">
                            <canvas id="doughnut" class="col-md-3 chart chart-doughnut" data="hostUtil.mem[h.address]" labels="memLabel" options="utilCharOption"></canvas>
                        </div>
                        <div class="col-md-3 info-box-number">
                            <canvas id="doughnut" class="col-md-3 chart chart-doughnut" data="hostUtil.volume[h.address]" labels="volumeLabel" options="utilCharOption"></canvas>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table no-margin" ng-show='services[h.name].length > 0'>
                            <thead class="bg-gray">
                                <tr>
                                    <th>#</th>
                                    <th>Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="s in services[h.name]">
                                    <td>{{$index + 1}}</td>
                                    <td>{{s.service}}</td>
                                    <td><span class="label" ng-class="{true: 'label-success', false: 'label-danger'}[s.status == 'passing']">{{s.status}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                    <!-- </div> -->
                    <!-- /.info-box -->
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
